html {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
}

body {
  max-width: 1440px;
  margin: auto;
  height: 100%;
  display: grid;
  grid-template: 9.5% 9.1% 10% 4.5% 15.5% 28.5% 21.5% 2.5% 4.5%/ 15% 21% 20% 17% 27%;
}

.grid-left {
  grid-area: 1 / 1 / 11 / 1;
  background-color: #374050;
  color: #9DA5B6;
}

.profile {
  color: #9DA5B6;
  display: grid;
  justify-content: center;
  width: 100%;
}

.icon {
  height: 15px;
  width: 15px;
}

.Ali-portrait {
  height: 90px;
  border-radius: 50%;
}

.profile-span {
  display: flex;
  flex-direction: column;
  margin: 2em 0 16px 0;
}

/* top nav bar */

.grid-nav {
  border: 1px solid #778899;
  color: #979EA3;
  display: flex;
  grid-area: 1 / 2 / 1 / 6;
  justify-content: space-between;
  margin: 0 0 0 0;
}

.nav-header {
  align-items: center;
  border-right: 1px solid #D3D3D3;
  display: flex;
  flex-grow: 1;
  font-size: 1.4em;
  justify-content: center;
}

.icon-left-dir {
  color: #55ADF0;
  font-size: 15px;
  margin: 0 -.8vw 0 0;
}

.icon-menu {
  color: #979EA3;
  font-size: 25px;
  vertical-align: top;
}

.search {
  background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  border-bottom: 1px solid #D3D3D3;
  border-top: none;
  font-size: 1.1em;
  height: 66px;
  padding: 0 0 0px 2vw;
  width: 59vw;
}

.input-and-icon {
  width: 72%;
}

.icon-home {
  margin: 0 12px 0 15px;
}

.left-nav-icon {
  margin: 0 12px 0 15px;
}

.icon-ok-squared {
  cursor: pointer;
  background-color: #F6DB4C;
  color: black;
  margin: 0 12px 0 15px;
}

.nav-header:hover {
  background-color: #44A5F4;
  color: #FCFBF9;
}

.header-menu-button {
  height: 100%;
  width: 0%;
  border-right: none;
}

.header-menu-button:hover {
  color: #FCFBF9;
  font-
}

.user-icon {
  height: 100%;
}

.calendar {
  height: 100%;
}

.icon-th {
  display: flex;
  justify-content: center;
}

/* left list items */

.left-nav-header {
  border-top: 2px solid #282828;
  color: #67748B;
  padding: 15px 0 0 16px;
  margin-bottom: -1vh;
  font-weight: 1000;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  line-height: 37px;
  font-size: .85em;
  padding: 0 0 0 0;
}

ul li:hover {
  background-color: #313949;
  border-left: solid 1px #49ACF2;
  color: #F0F6F6;
  cursor: pointer;
}

/*  */

/* job title box */

.job-title {
  grid-area: 2 / 2 / 4 / 6;
  color: #374050;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  margin: 3vw 0 0 5vw;
}

.location-preview {
  font-size: .49em;
}

#preview-post {
  color: #88C4EC;
  padding-left: 8px;
}

#preview-post:hover {
  cursor: pointer;
}

.job-title-button-list {
  display: flex;
  align-items: center;
  margin-right: 7vw;
  width: 17%;
}

.job-title-button {
  height: 40px;
  width: 40px;
}

.job-title-buttons:hover {
  background-color: #44A4F2;
  cursor: pointer;
  color: white;
}

#long-button {
  border-radius: 20px;
  border: 2px solid #E6E6E8;
  display: flex;
  font-weight: bold;
  height: 34px;
  justify-content: center;
  margin-right: 15px;
  width: 10vw;
}

.icon-circle {
  color: #99C558;
}

.icon-circle:hover {
  color: white;
}

.rounded-buttons {
  display: flex;
  color: #9B9FA9;
}

.icon-bookmark {
  border-radius: 50%;
  color: #9B9FA9;
  height: 30px;
}

.pencil-one {
  border-radius: 50%;
  color: #9B9FA9;
  font-size: 1.2em;
  height: 30px;
}

.icon-pencil {
  border-radius: 50%;
  color: #9B9FA9;
  height: 30px;
  margin-left: 10px;
}

.icon-trash-empty {
  border-radius: 50%;
  color: #9B9FA9;
  height: 30px;
  margin-left: 10px;
}

/* dashboard NavBar */

.dashboard-nav-bar {
  grid-area: 4 / 2 / 4 / 6;
}

.hiring-summary {
  color: #88888B;
  display: flex;
  justify-content: space-around;
  margin: -7px 11vw 0 26px;
  font-weight: bold;
}

.hiring-summary-hr {
  width: 100%;
  border: 1px solid #E7EAEE;
}

.summary-link:hover {
  background-color: transparent;
  color: black;
  border-bottom: solid 2.5px #49ACF2;
  font-size: 1.1em;
  border-left: none;
}

hr {
  color: #E6EAEE;
  margin: auto;
}

/* Graph section */

.donut-graph-section {
  grid-area: 7 /2 / 5 / 6;
  padding-left: 35px;
  width: 55%;
  background-color: #EDF2F6;
  padding-bottom: 18vh;
}

.donut-graph-text-one {
  font: 16px/1.4em 'Source Sans Pro', sans-serif;
  fill: #000;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  font-size: .6em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.chart-label {
  font-size: .2em;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translate(0.7em);
  transform: translateY(0.7em);
}

.donut-graph-section-two {
  grid-area: 7 /2 / 5 / 6;
}

.donut-graph-section-three {
  grid-area: 7 /2 / 5 / 6;
  /* transform: translate(100px, 0px); */
}

.donut-graph-buttons {
  grid-area: 7 /2 / 5 / 6;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.vertical-graph {
  grid-area: 7 /4 / 5 / 6;
  background-color: #EDF2F6;
  display: flex;
  justify-content: flex-start;
}

.image-vertical-graph {
  height: 63%;
  width: 86%;
  padding-top: 15px;
  margin: 0 0 0 5vw;
}

.graph-buttons {
  width: 181px;
  height: 30px;
  border-radius: 10px;
  font-size: .7em;
  margin: 0px 0vw 10vh 1.5vw;
  color: #757479;
  font-weight: 600;
}

.bold-numbers {
  font-weight: bold;
}

.icon-circle-gray {
  color: #8B95A3;
}

/* job description */

.job-description {
  grid-area: 11 / 2 / 7 / 5;
  background-color: #EDF2F6;
}

th {
  background-color: #717E93;
}

td {
  border: none;
}

.table-header {
  color: white;
  height: 10vh;
  text-align: left;
  padding: 0px 0px 0 1.5vw;
}

table {
  margin: 0% 0% 0% 4%;
  height: 103vh;
  border: 1px solid #7F8DA5;
  border-right: none;
  border-left: none;
  border-top: none;
}

.job-edit-button {
  margin: 0px 0 0 10vw;
  background-color: #7F8DA5;
  height: 30px;
  width: 6vw;
}

.border-bottom {
  border-bottom: 1px solid #7F8DA5;
  background-color: #FFFFFF;
  border-left: none;
  color: #A0A3A6;
}

.pencil-two {
    color: white;
    margin: 0;
}

.hiring-manager {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.last-table-row {
  border-bottom-style: none;
}

.border-with-icon {
  position: absolute;
  display: flex;
  width: 81%;
  padding-bottom: 20px;
}

hr {
  border: 1px solid #7F8DA5;
  width: 47%;
}

.icon-angle-up {
  border-radius: 29px;
  border: 1px solid #7F8DA5;
  color: #7F8DA5;
  content: '\f106';
  cursor: pointer;
  display: flex;
  font-size: 1.8em;
  height: 31px;
  justify-content: center;
}

.icon-angle-up:hover {
  cursor: pointer;
  background-color: #7F8DA5;
  color: white;
}

/* Social media */

.social {
  grid-area: 7 / 5 / 8 /6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 96%;
  background-color: #EDF2F6;
  padding-right: 5%;
}

.social-button {
  margin: 0 5% 0 0%;
  height: 5.5vh;
  color: white;
}

.social-icons {
  font-size: 1.5em;
}

.facebook {
  background-color: #4F70BD;
}

.twitter {
  background-color: #45AAEA;
}

.linkedin {
  background-color: #3280B7;
}

/* Link to job */

.link-to-job {
  grid-area: 8 / 5 / 11 / 7;
  padding: 15px 10px 0px 4px;
  background-color: #EDF2F6;
  color: #707A89;
}

.copy-button {
  color: white;
  background-color: #67B7BE;
  height: 5.5vh;
  width: 5.5vw;
}

.copy-button:hover {
  cursor: pointer;
}

.job-link-input {
  height: 5vh;
  width: 18vw;
  margin: 0 0 30px 0px;
}

.link-to-job-header {
  margin: 0 0 10px 0;

}

.job-link-border-bottom {
  margin: 0 0 25px 0px;
  width: 97%;
}

/* media queries */

@media only screen and (max-width: 1150px) {
  .grid-left {
    display: none;
  }
  body {
    grid-template: 9.5% 8.5% 8% 4.5% 27.5% 14.5% 23.5% 1.5% 4.5%/0% 23% 24% 24% 29%
  }
  .search {
    width: 70vw;
  }

  .graph-buttons {
    width: 16vw;
    height: 2vw;
    margin: 0px 0vw 8vh 1.5vw;
  }

  .border-with-icon {
  width: 94%;
  padding-bottom: 20px;
  }
}

@media only screen and (max-width: 850px) {
  .grid-left {
    display: none;
  }
  body {
    grid-template: 5.5% 1.5% 8% 4.5% 15.5% 10.5% 16.5% 15.5% 16.5%/0% 25% 25% 25% 25%;
    background-color: chartreuse;
  }
  .search {
    width: 70vw;
  }
}

@media only screen and (max-width: 650px) {
  .grid-left {
    display: none;
  }
  body {
    grid-template: 5.5% 1.5% 8% 4.5% 15.5% 10.5% 16.5% 15.5% 16.5% 4.5%/0% 50%% 25% 25% 25%;
    background-color: chartreuse;
  }
  .social {
    grid-area: 12 / 1 / 11 /6;
    background-color: cadetblue;
  }
  .link-to-job {
    grid-area: 11 / 1 / 12 / 6;
  }
}

/* ======================================
 
    MediaQuery-Reporter Styles
 
========================================= */

body:after {
  content: "less than 320px";
  font-size: 300%;
  font-weight: bold;
  position: fixed;
  bottom: 60px;
  width: 100%;
  text-align: center;
  background-color: hsla(1, 60%, 40%, 0.7);
  color: #fff;
}

@media only screen and (min-width: 320px) {
  body:after {
    content: "320 to 480px";
    background-color: hsla(90, 60%, 40%, 0.7);
  }
}

@media only screen and (min-width: 480px) {
  body:after {
    content: "480 to 768px";
    background-color: hsla(180, 60%, 40%, 0.7);
  }
}

@media only screen and (min-width: 768px) {
  body:after {
    content: "768 to 1024px";
    background-color: hsla(270, 60%, 40%, 0.7);
  }
}

@media only screen and (min-width: 1024px) {
  body:after {
    content: "1024 and up";
    background-color: hsla(360, 60%, 40%, 0.7);
  }
}