html {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

body {
  display: grid;
  grid-template: 9.5% 9.1% 10% 3.5% 15.5% 28.5% 21.5% 2.5% 4.5%/ 15% 21% 20% 17% 27%;
  height: 100%;
  margin: auto;
  max-width: 1440px;
}

.grid-left {
  grid-area: 1 / 1 / 11 / 1;
  background-color: #374050;
  color: #9DA5B6;
}

.profile {
  color: #9DA5B6;
  display: grid;
  justify-content: center;
  width: 100%;
}

.icon {
  height: 15px;
  width: 15px;
}

.Ali-portrait {
  height: 90px;
  border-radius: 50%;
}

.profile-span {
  display: flex;
  flex-direction: column;
  margin: 2em 0 16px 0;
}

/* top nav bar */

.grid-nav {
  border: 1px solid #778899;
  color: #979EA3;
  display: flex;
  grid-area: 1 / 2 / 1 / 6;
  justify-content: space-between;
  margin: 0 0 0 0;
}

.nav-header {
  align-items: center;
  border-right: 1px solid #D3D3D3;
  display: flex;
  flex-grow: 1;
  font-size: 1.4em;
  justify-content: center;
}

.icon-left-dir {
  color: #55ADF0;
  font-size: 15px;
  margin: 0 -.8vw 0 0;
}

.icon-menu {
  color: #979EA3;
  font-size: 25px;
  vertical-align: top;
}

.icon-blue {
  color: #50AFF8;
}

.icon-red {
  color: #D83762;
}

.icon-green {
  color: #4AA78B;
}

.search {
  background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  border-bottom: 1.4px solid #D3D3D3;
  border-top: none;
  font-size: 1.1em;
  height: 82px;
  padding: 0 0 0px 2vw;
  width: 59vw;
  max-width: 59vw;
}

.input-and-icon {
  width: 72%;
}

.icon-home {
  margin: 0 12px 0 15px;
}

.left-nav-icon {
  margin: 0 12px 0 15px;
}

.icon-ok-squared {
  background-color: #F6DB4C;
  color: black;
  cursor: pointer;
  margin: 0 12px 0 15px;
}

.nav-header:hover {
  background-color: #44A5F4;
  color: #FCFBF9;
}

.header-menu-button {
  height: 100%;
  border-style: none;
}

.header-menu-button:hover {
  color: #FCFBF9;
}

.user-icon {
  height: 100%;
}

.calendar {
  height: 100%;
}

.icon-th {
  display: flex;
  justify-content: center;
}

/* left list items */

.left-nav-header {
  border-top: 2px solid #282828;
  color: #67748B;
  font-size: 1rem;
  font-weight: 1000;
  margin-bottom: -1vh;
  padding: 15px 0 0 16px;
}

ul {
  font-size: .85em;
  line-height: 37px;
  list-style-type: none;
  padding: 0 0 0 0;
}

ul li:hover {
  background-color: #313949;
  border-left: solid 1px #49ACF2;
  color: #F0F6F6;
  cursor: pointer;
}

/* job title box */

.job-title {
  color: #374050;
  display: flex;
  flex-direction: row;
  grid-area: 2 / 2 / 4 / 6;
  justify-content: space-between;
}

h2 {
  margin: 3vw 0 0 5vw;
}

.location-preview {
  font-size: .49em;
}

#preview-post {
  color: #88C4EC;
  padding-left: 8px;
}

#preview-post:hover {
  cursor: pointer;
}

.job-title-button-list {
  align-items: center;
  display: flex;
  margin-right: 7vw;
  width: 17%;
}

.job-title-button {
  height: 40px;
  width: 40px;
}

.job-title-buttons:hover {
  background-color: #44A4F2;
  cursor: pointer;
  color: white;
}

#long-button {
  border-radius: 20px;
  border: 2px solid #E6E6E8;
  display: flex;
  font-weight: bold;
  height: 34px;
  justify-content: center;
  margin-right: 15px;
  width: 10vw;
}

.icon-circle {
  color: #99C558;
}

.icon-circle:hover {
  color: white;
}

.rounded-buttons {
  color: #9B9FA9;
  display: flex;
}

.icon-bookmark {
  border-radius: 50%;
  color: #9B9FA9;
  height: 30px;
}

.pencil-one {
  border-radius: 50%;
  color: #9B9FA9;
  font-size: 1.2em;
  height: 30px;
}

.icon-pencil {
  border-radius: 50%;
  color: #9B9FA9;
  height: 30px;
  margin-left: 10px;
}

.icon-trash-empty {
  border-radius: 50%;
  color: #9B9FA9;
  height: 30px;
  margin-left: 10px;
}

/* dashboard NavBar */

.dashboard-nav-bar {
  grid-area: 4 / 2 / 4 / 6;
}

.hiring-summary {
  color: #88888B;
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  margin: -7px 11vw 0 26px;
}

.hiring-summary-hr {
  border: 1px solid #E7EAEE;
  width: 100%;
}

.summary-link:hover {
  background-color: transparent;
  border-bottom: solid 2.5px #49ACF2;
  border-left: none;
  color: black;
  font-size: 1.1em;
}

hr {
  color: #E6EAEE;
  margin: auto;
}

/* Graph section */

.donut-graph-section {
  background-color: #EDF2F6;
  grid-area: 7 /2 / 5 / 6;
  padding: 0 0 13vh 35px;
  width: 53%;
}

.donut-graph-text-one {
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  fill: #000;
  font: 16px/1.4em 'Source Sans Pro', sans-serif;
  transform: translateY(0.25em);
}

.chart-number {
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  font-size: .6em;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
}

.chart-label {
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translate(0.7em);
  font-size: .2em;
  text-anchor: middle;
  transform: translateY(0.7em);
}

.donut-graph-section-two {
  grid-area: 7 /2 / 5 / 6;
}

.donut-graph-section-three {
  grid-area: 7 /2 / 5 / 6;
}

.donut-graph-buttons {
  align-items: flex-end;
  display: flex;
  grid-area: 7 /2 / 5 / 6;
  justify-content: space-around;
}

.vertical-graph {
  background-color: #EDF2F6;
  display: flex;
  grid-area: 7 /4 / 5 / 6;
  justify-content: flex-start;
}

.image-vertical-graph {
  height: 63%;
  margin: 0 0 0 5vw;
  padding-top: 15px;
  width: 86%;
}

.graph-buttons {
  border-radius: 10px;
  color: #757479;
  cursor: pointer;
  font-size: .7em;
  font-weight: 600;
  height: 30px;
  margin: 0px 0vw 10vh 1.5vw;
  width: 181px;
}

.bold-numbers {
  font-weight: bold;
}

.icon-circle-gray {
  color: #8B95A3;
}

/* job description */

.job-description {
  background-color: #EDF2F6;
  grid-area: 11 / 2 / 7 / 5;
}

th {
  background-color: #717E93;
}

td {
  border: none;
}

.table-header {
  color: white;
  height: 10vh;
  padding: 0px 0px 0 1.5vw;
  text-align: left;
}

table {
  border-left: none;
  border-right: none;
  border-top: none;
  border: 1px solid #7F8DA5;
  height: 103vh;
  margin: 0% 0% 0% 4%;
}

.job-edit-button {
  background-color: #7F8DA5;
  border: none;
  height: 30px;
  margin: 0px 0 0 10vw;
  width: 6vw;
}

.job-edit-button:hover {
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 3px #7F8DA5;
  color: none;
  cursor: pointer;
}

.border-bottom {
  border-bottom: 1px solid #7F8DA5;
  background-color: #FFFFFF;
  border-left: none;
  color: #A0A3A6;
}

.pencil-two {
  color: white;
  margin: 0;
}

.hiring-manager {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.last-table-row {
  border-bottom-style: none;
}

.border-with-icon {
  display: flex;
  padding-bottom: 20px;
  position: absolute;
  width: 81%;
}

hr {
  border: 1px solid #7F8DA5;
  width: 47%;
}

.icon-angle-up {
  border-radius: 42%;
  border: 1px solid #7F8DA5;
  color: #7F8DA5;
  content: '\f106';
  cursor: pointer;
  display: flex;
  font-size: 1.8em;
  height: 31px;
  justify-content: center;
}

.icon-angle-up:hover {
  background-color: #7F8DA5;
  color: white;
  cursor: pointer;
}

/* Social media */

.social {
  background-color: #EDF2F6;
  display: flex;
  flex-direction: column;
  grid-area: 7 / 5 / 8 /6;
  justify-content: space-between;
  padding-right: 5%;
  width: 96%;
}

.social-button {
  color: white;
  height: 5.5vh;
  margin: 0 5% 0 0%;
}

.social-button:hover {
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 3px #ADD8E6;
  color: blue;
  cursor: pointer;
}

.social-icons {
  font-size: 1.5em;
}

.facebook {
  background-color: #4F70BD;
}

.twitter {
  background-color: #45AAEA;
}

.linkedin {
  background-color: #3280B7;
}

/* Link to job */

.link-to-job {
  background-color: #EDF2F6;
  color: #707A89;
  grid-area: 8 / 5 / 11 / 7;
  padding: 15px 10px 0px 4px;
}

.job-link-text {
  font-size: .8em;
  margin-bottom: 3vh;
}

.icon-globe {
  margin-right: 6px;
}

.icon-qrcode {
  margin-right: 6px;
}

.icon-paper-plane {
  margin-right: 6px;
}

.copy-button {
  background-color: #67B7BE;
  color: white;
  height: 5.5vh;
  width: 5.5vw;
}

.copy-button:hover {
  cursor: pointer;
}

.job-link-input {
  height: 5vh;
  margin: 0 0 30px 0px;
  width: 18vw;
}

.link-to-job-header {
  margin: 0 0 0 0;
}

.job-link-border-bottom {
  margin: 0 0 25px 0px;
  width: 97%;
}

/* media queries */

@media only screen and (max-width: 1150px) {
  .grid-left {
    display: none;
  }
  body {
    grid-template: 9.5% 8.5% 8% 3.5% 27.5% 14.5% 23.5% 1.5% 4.5%/0% 23% 24% 24% 29%
  }
  .search {
    width: 70vw;
  }
  .graph-buttons {
    height: 30px;
    margin: 0px 0vw 8vh 1.5vw;
    width: 16vw;
  }
  .border-with-icon {
    padding-bottom: 20px;
    width: 94%;
  }
}

@media only screen and (max-width: 1050px) {
  .search {
    padding-left: 2.5vw;
    width: 69vw;
  }
}

@media only screen and (max-width: 850px) {
  .grid-left {
    display: none;
  }
  body {
    grid-template: 9.5% 7.5% 8% 3.5% 29.5% 11.5% 20.5% 15.5% 16.5%/0% 25% 25% 25% 25%;
  }
  .search {
    width: 94%;
    padding-left: 3.2vw;
    height: 82px;
  }
  .nav-header {
    width: 10%;
  }
  .donut-graph-buttons {
    display: none;
  }
  .donut-graph-section {
    background-color: #EDF2F6;
    grid-area: 5 /1 / 6 / 8;
    padding: 0 0 13vh 35px;
    width: 100%;
    height: 100%;
  }
  .vertical-graph {
    grid-area: 8 /2 / 6 / 6;
    background-color: #EDF2F6;
  }
  .image-vertical-graph {
    height: 70%;
    margin: 1vh 0px 0 15vw;
    padding-top: 20px;
    width: 62%;
  }
  .social {
    grid-area: 12 / 2 / 14 /6;
  }
  .link-to-job {
    grid-area: 11 / 1 / 12 / 6;
    display: flex;
  }
  .job-description {
    background-color: #EDF2F6;
    font-size: .8em;
    grid-area: 8 / 2 / 11 / 6;
  }
  .social {
    display: flex;
    flex-direction: row;
    grid-area: 12 / 2 / 14 /8;
    justify-content: center;
    margin: 0;
  }
  .social-button {
    margin: 0 0 0 0%;
    height: 5.5vh;
    color: white;
  }
  .job-edit-button {
    margin: 0px 0 0 21vw;
    width: 13vw;
  }
  table {
    height: 85vh;
  }
  .free-spirit {
    display: flex;
    flex-direction: column;
    height: 20vh;
    margin: -13px 0 0px 0;
  }
  .job-link-border-bottom {
    margin: 0 0 49px 0px;
  }
}

@media only screen and (max-width: 750px) {
  .job-title-button-list {
    margin-right: 12%;
  }
  .search {
    padding-left: 4vw;
  }
}

@media only screen and (max-width: 650px) {
  .grid-left {
    display: none;
  }
  body {
    grid-template: 9.5% 7.5% 8% 3.5% 17.5% 11.5% 20.5% 15.5% 16.5%/0% 25% 25% 25% 25%;
  }
  .social {
    grid-area: 12 / 1 / 11 /6;
    width: 95vw;
  }
  .link-to-job {
    display: flex;
    grid-area: 11 / 1 / 12 / 6;
    margin: 50px 2% 0px 2%;
  }
  .link-to-job-header {
    font-size: 1.2em;
  }
  .free-spirit {
    display: flex;
    flex-direction: column;
    height: 33vh;
    margin: -14px 0 0px 0;
  }
  .job-link-border-bottom {
    margin: 0 0 49px 0px;
  }
  .social-button {
    width: 20vw;
  }
  table {
    height: 62vh;
  }
  .dashboard-nav-bar {
    font-size: .7em;
  }
  .job-title-button-list {
    margin-right: 15%;
  }
}

@media only screen and (max-width: 573px) {
  .job-title-button-list {
    margin-right: 23%;
  }
  .customer-service-header {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 450px) {
  body {
    grid-template: 7.5% 10.5% 5% 4.5% 37.5% 14.5% 13.5% 10.5% 14.5%/0% 25% 25% 25% 25%;
  }
  .search {
    height: 61px;
    padding-left: 8vw;
    width: 73%;
  }
  .nav-header {
    width: 18%;
  }
  .customer-service-header {
    font-size: 1.2em;
  }
  .job-title {
    display: flex;
    flex-direction: column;
  }
  .donut-graph-section {
    display: flex;
    flex-direction: column;
    width: 285%
  }
  .donut {
    height: 100vh;
  }
  .image-vertical-graph {
    height: 78%;
    width: 75%
  }
  .rounded-buttons {
    margin-left: 31vw;
  }
  #long-button {
    display: none;
  }
  .dashboard-nav-bar {
    display: none;
  }
  .link-to-job {
    display: flex;
    flex-direction: column;
    margin-bottom: -7vh;
  }
  .job-link-input {
    width: 64vw;
  }
  .copy-button {
    width: 19.5vw;
  }
  .link-to-job-icon {
    font-size: .7em;
  }
  ::-webkit-input-placeholder {
    color: #fff;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    grid-template: 9.5% 9.1% 10% 3.5% 15.5% 28.5% 21.5% 2.5% 4.5%/ 15% 21% 20% 17% 27%;
  }
  .social {
    width: 94.7%;
    border-right: 1px solid;
  }
  .search {
    width: 95%;
    height: 9.2vh;
  }
  .border-with-icon {
    width: 64%;
  }
  .image-vertical-graph {
    margin: 0 0 0 4vw;
  }
  .job-link-input {
    width: 13vw;
  }
  .copy-button {
    width: 4.5vw;
  }
  .hiring-summary-hr {
    width: 99.8%;
  }
  .dashboard-nav-bar {
    border-right: 1px solid;
  }
  .vertical-graph {
    border-right: 1px solid;
  }
  .link-to-job-border {
    border-right: 1px solid;
  }
  .job-title-border {
    border-right: 1px solid;
  }
}